/* General */
html{
    box-sizing: border-box;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}

/* Common/Base Style */
h1{
    font-size:2.5rem;
    margin-bottom:12px;
    font-family: 'Sora', sans-serif;
}
h3{
    font-size: 1.5rem;
    font-family: 'Sora', sans-serif;
}
p{
    font-family: 'Sora', sans-serif;
}
.btn-prime{
    background: olivedrab !important;
    font-weight: bold;
    font-family: 'Sora', sans-serif;
    color:aliceblue;
}

.iconify {
    vertical-align: middle;
    color: black;
    font-size: 2em;
    margin-right: 16px;
    content: attr(data-icon);
    padding: 5px;
    display:inline-block;
}
  
html, body {
    overflow: hidden;
    height: 100%;
    scrollbar-width: none;
}

.container{
    height: 100%;
    scrollbar-width: none !important;
    overflow: visible;
}

body::-webkit-scrollbar{
    display: none;
    width: 0 !important;
}

.fp-section {
    overflow: auto;
    height: 100%;
}

.container {
    max-width: 100%;
}

.icon-hidden{
    opacity: 0;
}

.grecaptcha-badge{
    visibility: hidden;
}

/* Ghetto loading screen */
#fadeOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 9999;
}

/* Header */
#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  z-index: 100;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 40px;
}

/* Logo */
.logo img {
  height: 11vh;
  width: auto;
  transition: opacity 0.3s;
}
.logo li{
    list-style: none;
}

.logo img:hover {
  opacity: 0.8;
  transform: scaleX(1.1);
}

/* Menu */
.desktop-menu ul {
  display: flex;
  list-style: none;
}

.desktop-menu li {
  margin-left: 30px;
}

.desktop-menu a {
  position: relative;
}

/* Button images (responsive) */
.btn-img {
  height: 8vh;
  width: auto;
  transition: opacity 0.3s;
}

.desktop-menu a:hover .btn-img {
  opacity: 0.8;
  transform: scale(1.2);
}
.desktop-menu li.active .btn-img {
    opacity: 0.8;
    transform: scale(1.4);
}

/* Home */
#home-sec .hero-img-box{
    height: 100%;
    max-width: 100%;
    overflow: hidden;
    justify-content: space-between;
}
/* About */
#about-sec .container {
    overflow: hidden;
    height: 100%;
    scrollbar-width: none;
}

/*
#fp-nav span{
    top:2px;
    left:2px;
    width:7px;
    height: 7px;
    border:1px solid black;
    position: absolute;
    z-index: 1;
    border-radius: 0;
}

#fp-nav li{
    margin:5px 0;
}*/

/* showcase */
.content-box{
    padding: 20px;
    max-width: 500px;
}


.img-box{
    position: relative;
}
.img-box img{
    max-width: 90%;
}

.d-elem{
    position:absolute;
    top:-40px;
    left:-50px;
    z-index: -1;
}

/* art */

#art-sec .art-box{
    width: 100vw;
}
#art-sec .card-wrapper{
    padding: 15px;
    flex: 0 0 auto;
    margin-right: 10px;
    margin-left: 10px;
    background-color: white;

}

#art-sec .card-wrapper:hover img{
    transform: scale(1.1);
}

#art-sec .button {
    background-color: transparent;
    color: black;
    border-color: black;
    font-family: 'Sora', sans-serif;
}

#art-sec .pressed-down{
    background-color: black;
    color: whitesmoke;
    border-color: whitesmoke;
    font-family: 'Sora', sans-serif;
}
#art-sec .button-outline:hover button{
    background-color: black;
    color:aliceblue;
}
#art-sec .filter-container {
    max-width: 95vw;
    padding: 50px;
    margin: 10px auto;
    white-space: nowrap;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 250px;
    grid-auto-flow: dense;
    grid-gap: 20px;
    background-color: black;
}
#art-sec .row-gallery{
    margin: 10px auto;
    white-space: nowrap;
}



 /* .my-custom-scrollbar {
    position: relative;
    width: 800px;
    height: 400px;
    overflow: auto;
  } */


/* Testimony */

.slider{
    margin: 15px;
}
.card{
    border:none;
    margin: 5px;
    padding: 8px;
    height: 100%;
    border-radius: 20px;
}
.card-img-top{
    justify-self: center;
    width: 75px;
    height: 75px;
    border-radius: 10%;
    object-fit: cover;
    margin:10px auto;
}
.card-name p{
    display: inline-flex;
    position: absolute;
    top:30%;
    left: 40%;
    transform: translate(-30%,-40%);
    font-weight: bold;
}
.card-body > .col-12 {
    text-align: center;
    height: 100%;
}
.card-body{
    position: relative;
}
.quote-icon {
    display: none;
}
  
.test-rating {
    color: goldenrod;
    position: absolute;
    left: 60%;
    transform: translate(0,-100%);
}

#testimony-sec .card-text{
    padding-top: 0;
}
.wrapper-slick{
    margin:0 auto;
}
.lead{
    font-family: 'Sora', sans-serif;
    font-size: 1.5rem;
}

#testimony-sec .iconify-icon{
    vertical-align: middle;
    font-size: 0.5rem;
    margin-right: 16px;
    content: attr(data-icon);
    padding: 5px;
    display:inline-block;
}
/* Contact */
.contact-form h1{
    margin-bottom: 8%;
}


.form-control{
    padding: 5px 0;
    font-family: 'Sora', sans-serif;
    font-size: smaller;
    height: 110%;
}

input[type="text"]{
    padding: 20px 10px;
}
.form-control-msg{
    width: 100%;
    height:150px;
    font-size: medium;
    background-color: white;
}
label{
    font-family: 'Sora', sans-serif;
}
#contact-sec .button {
    background-color: transparent;
    color: black;
    border-color: black;
    font-family: 'Sora', sans-serif;
}

#contact-sec .pressed-down{
    background-color: black;
    color: whitesmoke;
    border-color: whitesmoke;
    font-family: 'Sora', sans-serif;
}

#contact-sec .img-box{
    height: 110%;
    width: 110%;
}


.disclaimer{
    font-size: xx-small;
    font-family: 'Sora', sans-serif;
    margin-bottom: 3px;
}

/* Default: desktop header visible, mobile menu hidden */
.mobile-menu {
  display: none;
}
/* Ensure overlay stays hidden until triggered */
.mobile-menu .overlay {
  left: -100%;
}
.mobile-logo-img {
    display: none;
}

.burger {
    display: none;
}
/* mediaqueries */
@media only screen and (max-width:400px){
    ::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 0px;
        background: transparent;
    }
    .desktop-menu {
        display: none; /* hide desktop header */
    }
    main {
        overflow: hidden;
    }      

    .sidebar{
        display: none;
    }
    .main-right{
        left: 0;
        height: 100%;
        width: 100%;
    }
    .content-box{
        text-align: center;
        margin-bottom: 80px;
    }

    .mobile-menu{
        display: block;
    }

.mobile-overlay {
  position: fixed;
  top: 0;
  left: -100%; /* hidden offscreen initially */
  width: 60%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  transition: left 0.4s ease;
}

/* When active, slide into view */
.mobile-overlay.mob-active {
  left: 0;
}

.burger {
    display: block;
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 10000;
  cursor: pointer;
}

    .mobile-menu ul{
        height: inherit;
        display: flex;
        list-style-type: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .mobile-menu li{
        border-bottom: 1px solid grey;
    }
    .mobile-menu a{
        font-size: 10px;
        font-family: 'Sora', sans-serif;
        color: #fff;
        text-decoration: none;
        display: inline-block;
        padding: 20px;
    }
    .ball{
        display: none;
    }

.mobile-logo-img {
  display: block;
  width: 100%;
  transition: opacity 0.3s;
}

.mobile-btn-image{
    height: 10vh;
    width: auto;
    transition: opacity 0.3s;
}
}
.fp-watermark {
    display: none;
    }